<div class="careers" id="careers">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="careers__main text-center">
          <h2 class="heading-main">Careers</h2>
          <p class="mt-5">
            FarmOR is a Farmer Pro Company. Apart from your technical skills we
            always look for right talents who are passionate about farming as
            well.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-intern text-light mb-5">
          <div class="card-body text-center">
            <div class="card-text">
              <h4>Internships</h4>
              <h6>Be a part of FarmOR</h6>
            </div>
            <a [routerLink]="['/intern']" class="btn btn-light card__btn">
              Apply Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-fulltime text-light">
          <div class="card-body text-center">
            <div class="card-text">
              <h4>Full Time</h4>
              <h6>Be a part of FarmOR</h6>
            </div>
            <a [routerLink]="['/apply']" class="btn btn-light card__btn">
              Apply Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
