<nav>
  <div class="toggle-icon">
    <svg>
      <use xlink:href="./../../assets/icons/symbol-defs.svg#icon-menu"></use>
    </svg>
  </div>
  <div class="search">
    <svg>
      <use
        xlink:href="./../../assets/icons/symbol-defs.svg#icon-magnifying-glass"
      ></use>
    </svg>
    <input type="text" class="search-input" placeholder="Search..." />
    <a href="#" class="btn btn-primary search-btn">Search</a>
  </div>
  <div class="nav-items">
    <div class="language">
      <div class="form-group">
        <select id="inputState" class="form-control">
          <option selected>English</option>
          <option>Telugu</option>
          <option>Hindi</option>
        </select>
      </div>
    </div>
    <div class="notifications">
      <svg>
        <use xlink:href="./../../assets/icons/symbol-defs.svg#icon-chat"></use>
      </svg>
    </div>
    <div class="menu">
      <svg>
        <use
          xlink:href="./../../assets/icons/symbol-defs.svg#icon-dots-three-vertical"
        ></use>
      </svg>
    </div>
    <div class="settings">
      <svg>
        <use xlink:href="./../../assets/icons/symbol-defs.svg#icon-cog"></use>
      </svg>
    </div>
  </div>
  <div class="nav-user"></div>
</nav>
