<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer__main">
          <div class="footer__copy">
            Copyright &copy; <span>{{ year }} </span> Farmor Agri Solutions Pvt.
            Ltd.
          </div>
          <div class="footer__policy">
            <a [routerLink]="['/privacypolicy']">Privacy Policy</a>
          </div>
          <div class="footer__social">
            <a href="https://twitter.com/farmoragri" target="_blank">
              <i class="fa fa-twitter mr-4" aria-hidden="true"></i>
            </a>
            <a
              href="https://www.instagram.com/farmor.ag/?igshid=1hs9apn9611uc"
              target="_blank"
            >
              <i class="fa fa-instagram mr-4" aria-hidden="true"></i>
            </a>
            <a
              href="https://www.linkedin.com/company/farmor-ag"
              target="_blank"
            >
              <i class="fa fa-linkedin mr-4" aria-hidden="true"></i>
            </a>

            <a
              href="https://www.youtube.com/channel/UCCr8GrS0cZG7bVOyeCGeUww"
              target="_blank"
            >
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
