<h1 class="mt-5 text-center">My Farms</h1>
<div class="container">
  <table class="table table-bordered mt-5" *ngFor="let farm of farms">
    <thead>
      <tr>
        <th colspan="2" style="font-size: 2rem">{{ farm.farmName }} Farm</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font-weight-bold">Total Acres</td>
        <td>{{ farm.totalAcres }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Soil Type</td>
        <td>{{ farm.soilType }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Ownership</td>
        <td>{{ farm.ownership }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Water Access</td>
        <td>{{ farm.waterAccess }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Farm Location</td>
        <td>{{ farm.location }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">Farm Address</td>
        <td>{{ farm.address }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">2D Map</td>
        <td>{{ farm.twoDmap }}</td>
      </tr>
    </tbody>
  </table>
</div>
