<div class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 order-sm-1 order-md-0">
        <div class="about__img">
          <img
            src="../../assets/images/svg1.svg"
            alt="about img"
            class="image"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-12 order-sm-0 order-md-1">
        <h2 class="heading-main">About Us</h2>
        <p class="mt-5">
          Rural Development is our motive. With the aim of providing end to end
          solutions to farmers by reducing the input costs for farmers,
          providing them technical advice vis-a-vis optimizing the use of
          resources.
        </p>
        <p class="mt-4">
          Slowly the vision would be to step towards a sustainable agriculture,
          by helping the farmers interested to convert their lands to organic in
          a phased manner. Thus minimizing the chemicals used in fields which
          would positively impact the environment.
        </p>
        <!-- <button class="btn btn-success">Know More</button> -->
      </div>
    </div>
  </div>
</div>
