.about {
  padding: 10rem 0 7rem 0;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(
      to right,
      rgba(#ddf8df, 0.9),
      rgba(#ddf8df, 0.9)
    ),
    url(../../assets/images/3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &__img {
    width: 100%;
    height: 40rem;

    .image {
      width: 100%;
      height: 100%;
    }
  }
  .btn {
    padding: 0.8rem 1.2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: #297620;
  }
}
