<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            class="form-control"
            [ngModel]="farmer?.name"
            name="name"
            placeholder="{{ farmer?.name }}"
          />
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input
            type="text"
            class="form-control"
            [ngModel]="farmer?.contact"
            name="contact"
            readonly
            placeholder="{{ farmer?.contact }}"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Gender</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="farmer?.gender"
              name="gender"
            />
          </div>
          <div class="form-group col-md-6">
            <label>Age</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="farmer?.age"
              name="age"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Address</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="farmer?.address"
              name="address"
            />
          </div>
          <div class="form-group col-md-6">
            <label>State</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="farmer?.state"
              name="state"
            />
          </div>
          <div class="form-group col-md-4">
            <label>District</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="farmer?.district"
              name="district"
            />
          </div>
          <div class="form-group col-md-4">
            <label>Mandal</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="farmer?.mandal"
              name="mandal"
            />
          </div>
          <div class="form-group col-md-4">
            <label>Village</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="farmer?.village"
              name="village"
            />
          </div>
        </div>
        <div class="form-group">
          <label>Total Acres</label>
          <input
            type="text"
            class="form-control"
            [ngModel]="farmer?.totalAcres"
            name="totalAcres"
          />
        </div>
        <!-- <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ngModel name="">
        </div> -->
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
