<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="form-group">
          <label>Name of the Farm</label>
          <input type="text" class="form-control" ngModel name="farmName" />
        </div>
        <div class="form-group">
          <label>Location of Farm</label>
          <input type="text" class="form-control" ngModel name="location" />
        </div>
        <div class="form-group">
          <label>2-D Map</label>
          <input type="text" class="form-control" ngModel name="twoDmap" />
        </div>
        <div class="form-group">
          <label>Total No of Acres</label>
          <input type="text" class="form-control" ngModel name="totalAcres" />
        </div>
        <div class="form-group">
          <label>Detailed Address of Farm</label>
          <input type="text" class="form-control" ngModel name="address" />
        </div>
        <div class="form-group">
          <label>Ownership</label>
          <div class="radio">
            <label>
              <input type="radio" value="yes" name="ownership" ngModel />
              Yes </label
            ><br />
            <label>
              <input type="radio" value="no" name="ownership" ngModel /> No
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Water Access</label>
          <!-- <input type="text" class="form-control" ngModel name="waterAccess" /> -->
          <select name="waterAccess" class="form-control" ngModel>
            <option value="" hidden>Select a Type</option>
            <option value="bore">Bore</option>
            <option value="canal">Canal</option>
            <option value="bore&canal">Bore and Canal</option>
            <option value="rainfed">Rainfed</option>
          </select>
        </div>

        <div class="form-group">
          <label>Type of Soil</label>
          <input type="text" class="form-control" ngModel name="soilType" />
        </div>
        <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <label>Address</label>
            <input type="text" class="form-control" ngModel name="address" />
          </div>
          <div class="form-group col-md-6">
            <label>State</label>
            <input type="text" class="form-control" ngModel name="state" />
          </div>
          <div class="form-group col-md-4">
            <label>District</label>
            <input type="text" class="form-control" ngModel name="district" />
          </div>
          <div class="form-group col-md-4">
            <label>Mandal</label>
            <input type="text" class="form-control" ngModel name="mandal" />
          </div>
          <div class="form-group col-md-4">
            <label>Village</label>
            <input type="text" class="form-control" ngModel name="village" />
          </div>
        </div> -->
        <!-- <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ngModel name="">
        </div> -->
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
