.contact {
  padding: 8rem 0;
  font-size: 1.5rem;

  background-image: linear-gradient(
      to right,
      rgba(#ddf8df, 0.9),
      rgba(#ddf8df, 0.9)
    ),
    url(../../assets/images/3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  h2 {
    margin-bottom: 6rem;
  }

  &__address {
    text-align: center;
  }

  .icon {
    font-size: 2.5rem;
    color: #297620;
    margin-bottom: 1rem;
  }

  .address,
  .email,
  .phone {
    margin-bottom: 2.3rem;
  }

  .form {
    .control {
      height: 3.8rem;
    }
    .btn {
      font-size: 1.5rem;
      margin-top: 1.6rem;
      padding: 0.8rem 1.2rem;
      background-color: #297620;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact__address {
    margin-top: 5rem;
    text-align: left;
  }
}
