<div class="farms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Add Crops</h2>
      </div>
      <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <div class="form-group">
            <label>Select Farmer to add a Crop</label>
            <select name="userId" class="form-control" ngModel>
              <option *ngFor="let farmer of farmers" value="{{ farmer?._id }}">
                {{ farmer?.name }}, {{ farmer?.contact }}
              </option>
            </select>
          </div>
          <button class="btn btn-success" type="submit">Add Crop</button>
        </form>
      </div>
    </div>
  </div>
</div>
