<div class="form">
  <div class="container">
    <div class="main__title">
      <!-- <h1 class="main__heading">Cropdata - FarmOR</h1> -->
      <img src="../../assets/images/Logo.png" alt="Logo" class="logo" />
    </div>
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <h2>Details Panel</h2>
      <div class="panel__group">
        <div class="user__data">
          <div class="form-group">
            <label for="name"
              >Name of Farmer<span class="mandatory">*</span></label
            >
            <input
              type="text"
              class="form-control"
              name="name"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label for="number"
              >Mobile Number<span class="mandatory">*</span></label
            >
            <input
              type="number"
              class="form-control"
              name="mobileNumber"
              [ngModel]="f.value?.mobileNumber"
              [pattern]="mobNumberPattern"
              mobNumber
              #mobileNumber="ngModel"
              required
            />
            <small
              class="form-text text__danger"
              *ngIf="mobileNumber.errors && mobileNumber.touched"
              >Please Enter a Valid Mobile Number</small
            >
            <!-- test -->
            <!-- <div *ngIf="mobNumber.errors && mobNumber.touched">
              <div *ngIf="mobNumber.errors.pattern">
                Mobile number not valid.
              </div>
            </div> -->
            <!-- test end -->
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="access"
                >Road Access
                <span class="label__subtext text-muted">(in Kms)</span
                ><span class="mandatory"> *</span></label
              >
              <input
                type="number"
                class="form-control"
                name="access"
                ngModel
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="village"
                >Village / Town<span class="mandatory">*</span></label
              >
              <input
                type="text"
                class="form-control"
                name="village"
                ngModel
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">District<span class="mandatory">*</span></label>
              <input
                type="text"
                class="form-control"
                name="district"
                [(ngModel)]="district"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">State<span class="mandatory">*</span></label>
              <input
                type="text"
                class="form-control"
                name="state"
                [(ngModel)]="state"
                required
              />
            </div>
          </div>
        </div>
      </div>

      <h2>Cultivation Details</h2>
      <div class="panel__group">
        <div class="crop-details" *ngFor="let crop of crops">
          <div class="form-group">
            <label
              >Name of the {{ crop }} Crop<span class="mandatory"
                >*</span
              ></label
            >
            <input
              type="text"
              class="form-control"
              name="cropName{{ crop }}"
              ngModel
              required
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Variety<span class="mandatory">*</span></label>
              <input
                type="text"
                class="form-control"
                name="variety{{ crop }}"
                ngModel
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label>No of Acres<span class="mandatory">*</span></label>
              <input
                type="number"
                class="form-control"
                name="acres{{ crop }}"
                ngModel
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label>Type<span class="mandatory">*</span></label>
            <div class="radio">
              <label>
                <input
                  type="radio"
                  name="cropType{{ crop }}"
                  ngModel
                  required
                  value="organic"
                />
                Organic </label
              ><br />
              <label>
                <input
                  type="radio"
                  name="cropType{{ crop }}"
                  ngModel
                  required
                  value="conventional"
                />
                Conventional
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="week"
                >Sown Week<span class="mandatory">*</span></label
              >
              <select
                class="form-control"
                id="weeks"
                name="sownWeek{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>Select a Week</option>
                <option value="week-1">Week-1</option>
                <option value="week-2">Week-2</option>
                <option value="week-3">Week-3</option>
                <option value="week-4">Week-4</option>
                <option value="week-5">Week-5</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Month<span class="mandatory">*</span></label>
              <select
                class="form-control"
                name="sownMonth{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>Select a Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Year<span class="mandatory">*</span></label>
              <select
                class="form-control"
                name="sownYear{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>Select a Year</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>
          </div>
        </div>

        <button
          class="btn btn-success btn__crop-add"
          type="button"
          (click)="addCrop()"
        >
          Add Crop
        </button>
        <button
          class="btn btn-danger btn__crop-delete"
          type="button"
          (click)="deleteCrop()"
          *ngIf="crops.length > 1"
        >
          Delete Crop
        </button>
      </div>

      <h2>Harvest details</h2>
      <div class="panel__group">
        <!-- <div class="form-group">
          <label>Expected harvest date</label>
          <input
            type="week"
            class="form-control"
            name="expharvestdate"
            ngModel
            required
          />
        </div> -->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Expected harvest date<span class="mandatory">*</span></label>
            <select class="form-control" name="expHarvDate" ngModel required>
              <option value="" hidden>Select a Week</option>
              <option value="week-1">Week-1</option>
              <option value="week-2">Week-2</option>
              <option value="week-3">Week-3</option>
              <option value="week-4">Week-4</option>
              <option value="week-5">Week-5</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Month<span class="mandatory">*</span></label>
            <select class="form-control" name="expHarvMonth" ngModel required>
              <option value="" hidden>Select a Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Year<span class="mandatory">*</span></label>
            <select class="form-control" name="expHarvYear" ngModel required>
              <option value="" hidden>Select a Year</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label
            >Expected output
            <span class="label__subtext text-muted">(in Quintal)</span></label
          >
          <input
            type="number"
            class="form-control"
            name="expHarvOutput"
            [(ngModel)]="quintal"
            required
          />
        </div>
        <span>
          <a
            class="convert__btn"
            data-toggle="modal"
            data-target="#exampleModal"
            style="cursor: pointer"
            >Convert Bags to Quintal</a
          >
        </span>
      </div>

      <h2>Previous Harvest details</h2>
      <div class="panel__group">
        <div class="form-group">
          <label>Name of the Previous Crop</label>
          <input type="text" class="form-control" name="prevCrop" ngModel />
        </div>
        <div class="form-group">
          <label>Variety</label>
          <input type="text" class="form-control" name="prevVariety" ngModel />
        </div>
        <div class="form-group">
          <label>No of Acres</label>
          <input type="number" class="form-control" name="prevAcre" ngModel />
        </div>
        <div class="form-group">
          <label for="name">Type</label>
          <div class="radio">
            <label>
              <input type="radio" name="prevType" value="organic" ngModel />
              Organic </label
            ><br />
            <label>
              <input
                type="radio"
                name="prevType"
                value="conventional"
                ngModel
              />
              Conventional
            </label>
          </div>
        </div>
        <div class="form-group">
          <label
            >Selling Rate
            <span class="label__subtext text-muted"
              >(eg: /quintal/bag)</span
            ></label
          >
          <input type="text" class="form-control" name="prevSellRate" ngModel />
        </div>
      </div>
      <button
        class="btn btn-success btn-block btn__submit"
        type="submit"
        [disabled]="!f.valid"
      >
        Submit Data
      </button>
    </form>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ quintal }}"
                value="{{ quintal }}"
                #val
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button class="btn btn-primary btn__modal mr-3" (click)="convert()">
          Convert
        </button>
        <!-- <button
          class="btn btn-success btn__modal"
          (click)="copyInputMessage(val)"
          value="click to copy"
        >
          Copy Result
        </button> -->
      </div>
    </div>
  </div>
</div>
