.form {
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(rgba(#287620, 0.3), rgba(#287620, 0.4)),
  //   url(../../assets/images/new1.jpg);
  // background-position: center;
  // background-size: cover;
  padding-bottom: 2rem;
  background-color: rgba(#287620, 1);
  .main {
    &__title {
      width: 100%;
      text-align: center;
      // padding-top: 2rem;

      .logo {
        width: 22rem;
        height: 10rem;
      }
    }

    // &__heading {
    //   font-size: 3rem;
    //   font-weight: 500;
    // }
  }
  form {
    width: 85%;
    margin: 1rem auto 2rem;
    border: 1px solid #eee;
    padding: 2rem 6rem;
    box-shadow: 0 0.2rem 1rem rgba(#000, 0.1);
    background-color: rgba(#fff, 1);

    .panel__group {
      border: 1px solid #eee;
      padding: 2rem 4rem;
      margin-bottom: 3.5rem;
      background-color: rgba(#fff, 1);

      input.ng-invalid.ng-touched {
        border: 1px solid red;
      }

      label {
        color: #287620;
      }

      // test

      // .custom-control-input:checked ~ .custom-control-label::before {
      //   color: #fff;
      //   border-color: #7b1fa2;
      // }

      // .custom-control-input:checked ~ .custom-control-label.red::before {
      //   background-color: red;
      // }

      // .custom-control-input:checked ~ .custom-control-label.green::before {
      //   background-color: green;
      // }

      // test end

      .crop-details:not(:first-child) {
        margin-top: 4rem;
      }
    }

    h2 {
      margin-bottom: 2rem;
      color: #1ebd1e;
    }

    label {
      margin-bottom: 1rem;
    }

    .mandatory {
      color: red;
    }

    .form-group {
      margin-bottom: 2rem;
    }

    .btn__submit {
      padding: 0.8rem;
      font-size: 1.7rem;
    }

    .btn__crop-add,
    .btn__crop-delete {
      padding: 0.8rem 1rem;
      font-size: 1.4rem;
    }

    .btn__crop-add {
      margin-right: 1rem;
    }

    .mt-md {
      margin-top: 3.35rem;
    }
  }
}

.form-control {
  // width: 40%;
  height: 4rem;
  font-size: 1.6rem;
  color: #287620;

  &:focus {
    border-color: #1ebd1e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#1ebd1e, 0.6);
  }
}

.convert__btn {
  font-size: 1.4rem;
  color: #1ebd1e;
  transform: translateY(-1.2rem);
  text-decoration: none;
  display: block;
}

.text__danger {
  color: red;
}

.label__subtext {
  font-size: 1.4rem;
}

.modal-title {
  font-size: 1.8rem;
}

.modal__btn-box {
  padding: 1rem;
}

.btn__modal {
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
}

// Number field arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// Responsive

@media only screen and (max-width: 991px) {
  .form {
    form {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .form {
    form {
      padding: 2rem 3rem;
      .panel__group {
        padding: 1rem 2rem;
      }
      .mt-md {
        margin-top: 0;
      }
    }
  }
}
