<div class="form">
  <div class="container">
    <div class="main__title">
      <img src="../../assets/images/Logo.png" alt="Logo" class="logo" />
    </div>
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="tophead__btns">
        <h2>{{ "Details Panel" | translate }}</h2>
        <div class="lang__btns form-inline">
          <label class="mr-3 mt-3">{{ "Select Language" | translate }}:</label>
          <select (change)="changeCurrentLang($event)" class="form-control">
            <option value="en">English</option>
            <option value="te">తెలుగు</option>
          </select>
        </div>
      </div>
      <div class="panel__group">
        <div class="user__data">
          <div class="form-group">
            <label for="name"
              >{{ "Name of Farmer" | translate
              }}<span class="mandatory">*</span></label
            >
            <input
              type="text"
              class="form-control"
              name="name"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label
              >{{ "Mobile Number" | translate
              }}<span class="mandatory">*</span></label
            >
            <input
              type="number"
              class="form-control"
              name="mobileNumber"
              [ngModel]="f.value?.mobileNumber"
              [pattern]="mobNumberPattern"
              mobNumber
              #mobileNumber="ngModel"
              required
            />
            <small
              class="form-text text__danger"
              *ngIf="mobileNumber.errors && mobileNumber.touched"
              >Please Enter a Valid Mobile Number</small
            >
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="access"
                >{{ "Road Access" | translate }}
                <span class="label__subtext text-muted">{{
                  "(in Kms)" | translate
                }}</span
                ><span class="mandatory"> *</span></label
              >
              <input
                type="number"
                class="form-control"
                name="access"
                ngModel
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="village"
                >{{ "Village / Town" | translate
                }}<span class="mandatory">*</span></label
              >
              <input
                type="text"
                class="form-control"
                name="village"
                ngModel
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label
                >{{ "District" | translate
                }}<span class="mandatory">*</span></label
              >
              <input
                type="text"
                class="form-control"
                name="district"
                [(ngModel)]="district"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label
                >{{ "State" | translate
                }}<span class="mandatory">*</span></label
              >
              <input
                type="text"
                class="form-control"
                name="state"
                [(ngModel)]="state"
                required
              />
            </div>
          </div>
        </div>
      </div>

      <h2>{{ "Cultivation Details" | translate }}</h2>
      <div class="panel__group">
        <div class="crop-details" *ngFor="let crop of crops">
          <div class="form-group">
            <label *ngIf="crop === 'First'"
              >{{ "Name of the First Crop" | translate
              }}<span class="mandatory">*</span></label
            >
            <label *ngIf="crop === 'Second'"
              >{{ "Name of the Second Crop" | translate
              }}<span class="mandatory">*</span></label
            >
            <label *ngIf="crop === 'Third'"
              >{{ "Name of the Third Crop" | translate
              }}<span class="mandatory">*</span></label
            >
            <label *ngIf="crop === 'Fourth'"
              >{{ "Name of the Fourth Crop" | translate
              }}<span class="mandatory">*</span></label
            >
            <input
              type="text"
              class="form-control"
              name="cropName{{ crop }}"
              ngModel
              required
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label
                >{{ "Variety" | translate
                }}<span class="mandatory">*</span></label
              >
              <input
                type="text"
                class="form-control"
                name="variety{{ crop }}"
                ngModel
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label
                >{{ "No of Acres" | translate
                }}<span class="mandatory">*</span></label
              >
              <input
                type="number"
                class="form-control"
                name="acres{{ crop }}"
                ngModel
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label
              >{{ "Type" | translate }}<span class="mandatory">*</span></label
            >
            <div class="radio">
              <label>
                <input
                  type="radio"
                  name="cropType{{ crop }}"
                  ngModel
                  required
                  value="organic"
                />
                {{ "Organic" | translate }} </label
              ><br />
              <label>
                <input
                  type="radio"
                  name="cropType{{ crop }}"
                  ngModel
                  required
                  value="conventional"
                />
                {{ "Conventional" | translate }}
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="week"
                >{{ "Sown Week" | translate
                }}<span class="mandatory">*</span></label
              >
              <select
                class="form-control"
                id="weeks"
                name="sownWeek{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>
                  {{ "Select a Week" | translate }}
                </option>
                <option value="1st Week">{{ "1st Week" | translate }}</option>
                <option value="2nd Week">{{ "2nd Week" | translate }}</option>
                <option value="3rd Week">{{ "3rd Week" | translate }}</option>
                <option value="4th Week">{{ "4th Week" | translate }}</option>
                <option value="5th Week">{{ "5th Week" | translate }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label
                >{{ "Month" | translate
                }}<span class="mandatory">*</span></label
              >
              <select
                class="form-control"
                name="sownMonth{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>
                  {{ "Select a Month" | translate }}
                </option>
                <option value="January">{{ "January" | translate }}</option>
                <option value="February">{{ "February" | translate }}</option>
                <option value="March">{{ "March" | translate }}</option>
                <option value="April">{{ "April" | translate }}</option>
                <option value="May">{{ "May" | translate }}</option>
                <option value="June">{{ "June" | translate }}</option>
                <option value="July">{{ "July" | translate }}</option>
                <option value="August">{{ "August" | translate }}</option>
                <option value="September">{{ "September" | translate }}</option>
                <option value="October">{{ "October" | translate }}</option>
                <option value="November">{{ "November" | translate }}</option>
                <option value="December">{{ "December" | translate }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label
                >{{ "Year" | translate }}<span class="mandatory">*</span></label
              >
              <select
                class="form-control"
                name="sownYear{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>
                  {{ "Select a Year" | translate }}
                </option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>
          </div>
        </div>

        <button
          class="btn btn-success btn__crop-add"
          type="button"
          (click)="addCrop()"
        >
          {{ "Add Crop" | translate }}
        </button>
        <button
          class="btn btn-danger btn__crop-delete"
          type="button"
          (click)="deleteCrop()"
          *ngIf="crops.length > 1"
        >
          {{ "Delete Crop" | translate }}
        </button>
      </div>

      <h2>{{ "Harvest details" | translate }}</h2>
      <div class="panel__group">
        <div class="crop-details" *ngFor="let crop of crops">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label *ngIf="crop === 'First'"
                >{{ "Expected First Crop harvest date" | translate
                }}<span class="mandatory">*</span></label
              >
              <label *ngIf="crop === 'Second'"
                >{{ "Expected Second Crop harvest date" | translate
                }}<span class="mandatory">*</span></label
              >
              <label *ngIf="crop === 'Third'"
                >{{ "Expected Third Crop harvest date" | translate
                }}<span class="mandatory">*</span></label
              >
              <label *ngIf="crop === 'Fourth'"
                >{{ "Expected Fourth Crop harvest date" | translate
                }}<span class="mandatory">*</span></label
              >
              <select
                class="form-control"
                name="expHarvDate{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>
                  {{ "Select a Week" | translate }}
                </option>
                <option value="1st Week">{{ "1st Week" | translate }}</option>
                <option value="2nd Week">{{ "2nd Week" | translate }}</option>
                <option value="3rd Week">{{ "3rd Week" | translate }}</option>
                <option value="4th Week">{{ "4th Week" | translate }}</option>
                <option value="5th Week">{{ "5th Week" | translate }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label
                >{{ "Month" | translate
                }}<span class="mandatory">*</span></label
              >
              <select
                class="form-control"
                name="expHarvMonth{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>
                  {{ "Select a Month" | translate }}
                </option>
                <option value="January">{{ "January" | translate }}</option>
                <option value="February">{{ "February" | translate }}</option>
                <option value="March">{{ "March" | translate }}</option>
                <option value="April">{{ "April" | translate }}</option>
                <option value="May">{{ "May" | translate }}</option>
                <option value="June">{{ "June" | translate }}</option>
                <option value="July">{{ "July" | translate }}</option>
                <option value="August">{{ "August" | translate }}</option>
                <option value="September">{{ "September" | translate }}</option>
                <option value="October">{{ "October" | translate }}</option>
                <option value="November">{{ "November" | translate }}</option>
                <option value="December">{{ "December" | translate }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label
                >{{ "Year" | translate }}<span class="mandatory">*</span></label
              >
              <select
                class="form-control"
                name="expHarvYear{{ crop }}"
                ngModel
                required
              >
                <option value="" hidden>
                  {{ "Select a Year" | translate }}
                </option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label *ngIf="crop === 'First'"
              >{{ "Expected First Crop Output" | translate }}
              <span class="label__subtext text-muted">{{
                "(in Quintal)" | translate
              }}</span
              ><span class="mandatory">*</span></label
            >
            <label *ngIf="crop === 'Second'"
              >{{ "Expected Second Crop Output" | translate }}
              <span class="label__subtext text-muted">{{
                "(in Quintal)" | translate
              }}</span
              ><span class="mandatory">*</span></label
            >
            <label *ngIf="crop === 'Third'"
              >{{ "Expected Third Crop Output" | translate }}
              <span class="label__subtext text-muted">{{
                "(in Quintal)" | translate
              }}</span
              ><span class="mandatory">*</span></label
            >
            <label *ngIf="crop === 'Fourth'"
              >{{ "Expected Fourth Crop Output" | translate }}
              <span class="label__subtext text-muted">{{
                "(in Quintal)" | translate
              }}</span
              ><span class="mandatory">*</span></label
            >
            <div *ngIf="crop === 'First'">
              <input
                type="number"
                class="form-control"
                name="expHarvOutputFirst"
                [(ngModel)]="First"
                required
              />
              <span>
                <a
                  class="convert__btn"
                  data-toggle="modal"
                  data-target="#First"
                  style="cursor: pointer"
                  >{{ "Convert Bags to Quintal" | translate }}</a
                >
              </span>
            </div>
            <div *ngIf="crop === 'Second'">
              <input
                type="number"
                class="form-control"
                name="expHarvOutputSecond"
                [(ngModel)]="Second"
                required
              />
              <span>
                <a
                  class="convert__btn"
                  data-toggle="modal"
                  data-target="#Second"
                  style="cursor: pointer"
                  >{{ "Convert Bags to Quintal" | translate }}</a
                >
              </span>
            </div>
            <div *ngIf="crop === 'Third'">
              <input
                type="number"
                class="form-control"
                name="expHarvOutputThird"
                [(ngModel)]="Third"
                required
              />
              <span>
                <a
                  class="convert__btn"
                  data-toggle="modal"
                  data-target="#Third"
                  style="cursor: pointer"
                  >{{ "Convert Bags to Quintal" | translate }}</a
                >
              </span>
            </div>
            <div *ngIf="crop === 'Fourth'">
              <input
                type="number"
                class="form-control"
                name="expHarvOutputFourth"
                [(ngModel)]="Fourth"
                required
              />
              <span>
                <a
                  class="convert__btn"
                  data-toggle="modal"
                  data-target="#Fourth"
                  style="cursor: pointer"
                  >{{ "Convert Bags to Quintal" | translate }}</a
                >
              </span>
            </div>
            <div *ngIf="crop === 'Fifth'">
              <input
                type="number"
                class="form-control"
                name="expHarvOutputFifth"
                [(ngModel)]="Fifth"
                required
              />
              <span>
                <a
                  class="convert__btn"
                  data-toggle="modal"
                  data-target="#Fifth"
                  style="cursor: pointer"
                  >{{ "Convert Bags to Quintal" | translate }}</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>

      <h2>{{ "Previous Harvest details" | translate }}</h2>
      <div class="panel__group">
        <div class="crop-details" *ngFor="let prevCrop of prevCrops">
          <div class="form-group">
            <label *ngIf="prevCrop === '1'">{{
              "Name of the Previous First Crop" | translate
            }}</label>
            <label *ngIf="prevCrop === '2'">{{
              "Name of the Previous Second Crop" | translate
            }}</label>
            <label *ngIf="prevCrop === '3'">{{
              "Name of the Previous Third Crop" | translate
            }}</label>
            <label *ngIf="prevCrop === '4'">{{
              "Name of the Previous Fourth Crop" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              name="prevCrop{{ prevCrop }}"
              ngModel
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>{{ "Variety" | translate }}</label>
              <input
                type="text"
                class="form-control"
                name="prevVariety{{ prevCrop }}"
                ngModel
              />
            </div>
            <div class="form-group col-md-4">
              <label>{{ "No of Acres" | translate }}</label>
              <input
                type="number"
                class="form-control"
                name="prevAcre{{ prevCrop }}"
                ngModel
              />
            </div>
            <div class="form-group col-md-4">
              <label *ngIf="prevCrop === '1'"
                >{{ "Crop-1 Output" | translate }}
                <span class="label__subtext text-muted">{{
                  "(in Quintal)" | translate
                }}</span></label
              >
              <label *ngIf="prevCrop === '2'"
                >{{ "Crop-2 Output" | translate }}
                <span class="label__subtext text-muted">{{
                  "(in Quintal)" | translate
                }}</span></label
              >
              <label *ngIf="prevCrop === '3'"
                >{{ "Crop-3 Output" | translate }}
                <span class="label__subtext text-muted">{{
                  "(in Quintal)" | translate
                }}</span></label
              >
              <label *ngIf="prevCrop === '4'"
                >{{ "Crop-4 Output" | translate }}
                <span class="label__subtext text-muted">{{
                  "(in Quintal)" | translate
                }}</span></label
              >
              <div *ngIf="prevCrop === '1'">
                <input
                  type="number"
                  class="form-control"
                  name="prevOutputOne"
                  [(ngModel)]="quintalPrevFirst"
                />
                <span>
                  <a
                    class="convert__btn-1"
                    data-toggle="modal"
                    data-target="#exampleModalPrev"
                    style="cursor: pointer"
                    >{{ "Convert Bags to Quintal" | translate }}</a
                  >
                </span>
              </div>
              <div *ngIf="prevCrop === '2'">
                <input
                  type="number"
                  class="form-control"
                  name="prevOutputTwo"
                  [(ngModel)]="quintalPrevSecond"
                />
                <span>
                  <a
                    class="convert__btn-1"
                    data-toggle="modal"
                    data-target="#exampleModalPrev2"
                    style="cursor: pointer"
                    >{{ "Convert Bags to Quintal" | translate }}</a
                  >
                </span>
              </div>
              <div *ngIf="prevCrop === '3'">
                <input
                  type="number"
                  class="form-control"
                  name="prevOutputThree"
                  [(ngModel)]="quintalPrevThird"
                />
                <span>
                  <a
                    class="convert__btn-1"
                    data-toggle="modal"
                    data-target="#exampleModalPrev3"
                    style="cursor: pointer"
                    >{{ "Convert Bags to Quintal" | translate }}</a
                  >
                </span>
              </div>
              <div *ngIf="prevCrop === '4'">
                <input
                  type="number"
                  class="form-control"
                  name="prevOutputFour"
                  [(ngModel)]="quintalPrevFourth"
                />
                <span>
                  <a
                    class="convert__btn-1"
                    data-toggle="modal"
                    data-target="#exampleModalPrev4"
                    style="cursor: pointer"
                    >{{ "Convert Bags to Quintal" | translate }}</a
                  >
                </span>
              </div>
              <div *ngIf="prevCrop === '5'">
                <input
                  type="number"
                  class="form-control"
                  name="prevOutputFive"
                  [(ngModel)]="quintalPrevFifth"
                />
                <span>
                  <a
                    class="convert__btn-1"
                    data-toggle="modal"
                    data-target="#exampleModalPrev5"
                    style="cursor: pointer"
                    >{{ "Convert Bags to Quintal" | translate }}</a
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "Type" | translate }}</label>
            <div class="radio">
              <label>
                <input
                  type="radio"
                  name="prevType{{ prevCrop }}"
                  value="organic"
                  ngModel
                />
                {{ "Organic" | translate }} </label
              ><br />
              <label>
                <input
                  type="radio"
                  name="prevType{{ prevCrop }}"
                  value="conventional"
                  ngModel
                />
                {{ "Conventional" | translate }}
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-8">
              <label *ngIf="prevCrop === '1'">{{
                "Selling Rate of Crop-1" | translate
              }}</label>
              <label *ngIf="prevCrop === '2'">{{
                "Selling Rate of Crop-2" | translate
              }}</label>
              <label *ngIf="prevCrop === '3'">{{
                "Selling Rate of Crop-3" | translate
              }}</label>
              <label *ngIf="prevCrop === '4'">{{
                "Selling Rate of Crop-4" | translate
              }}</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  name="prevSellRate{{ prevCrop }}"
                  ngModel
                />
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ "Rs per" | translate }}</div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-4">
              <label style="visibility: hidden" class="hide">Quantity</label>
              <select
                class="form-control"
                name="prevSellPerQuntity{{ prevCrop }}"
                [(ngModel)]="quantity"
                required
              >
                <!-- <option value="" hidden>Select a Quantity</option> -->
                <option value="quintal">{{ "quintal" | translate }}</option>
                <option value="bag">{{ "bag" | translate }}</option>
              </select>
            </div>
          </div>
        </div>
        <button
          class="btn btn-success btn__crop-add"
          type="button"
          (click)="addPrevCrop()"
        >
          {{ "Add Crop" | translate }}
        </button>
        <button
          class="btn btn-danger btn__crop-delete"
          type="button"
          (click)="deletePrevCrop()"
          *ngIf="prevCrops.length > 1"
        >
          {{ "Delete Crop" | translate }}
        </button>
      </div>

      <h2>{{ "Existing Stock with Farmer" | translate }}</h2>
      <div class="panel__group">
        <div class="form-group mb-1">
          <label>{{
            "Does Farmer have any Produce with him now (for Selling)?"
              | translate
          }}</label>
          <div class="radio" (change)="showProduce($event)">
            <label class="mr-4">
              <input type="radio" name="yes" value="yes" />
              {{ "Yes" | translate }}</label
            >
            <label>
              <input type="radio" name="yes" value="no" />
              {{ "No" | translate }}
            </label>
          </div>
        </div>
        <div *ngIf="produce === 'yes'">
          <div class="form-group mt-3">
            <label>{{ "Name of the Produce (Crop)" | translate }}</label>
            <input type="text" class="form-control" name="produce" ngModel />
          </div>
          <div class="form-group">
            <label>{{ "Variety" | translate }}</label>
            <input
              type="text"
              class="form-control"
              name="varietyProd"
              ngModel
            />
          </div>
          <div class="form-group">
            <label
              >{{ "Quantity" | translate }}
              <span class="label__subtext text-muted">{{
                "(in Quintal)" | translate
              }}</span></label
            >
            <input
              type="text"
              class="form-control"
              name="quantityProd"
              ngModel
            />
          </div>
        </div>
      </div>

      <button
        class="btn btn-success btn-block btn__submit"
        type="submit"
        [disabled]="!f.valid"
      >
        Submit Data
      </button>
    </form>
  </div>
</div>

<!-- Modal -->

<div
  class="modal fade"
  id="Second"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <!-- <div class="form-group col-md-6 d-none">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ Second }}"
                value="{{ Second }}"
                #val
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal mr-3"
          (click)="convertSecond()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Second -->
<div
  class="modal fade"
  id="First"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <!-- <div class="form-group col-md-6 d-none">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ First }}"
                value="{{ First }}"
                #val
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal mr-3"
          (click)="convertFirst()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Third -->

<div
  class="modal fade"
  id="Third"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <!-- <div class="form-group col-md-6 d-none">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ Third }}"
                value="{{ Third }}"
                #val
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal mr-3"
          (click)="convertThird()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Fourth -->

<div
  class="modal fade"
  id="Fourth"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <!-- <div class="form-group col-md-6 d-none">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ Fourth }}"
                value="{{ Fourth }}"
                #val
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal mr-3"
          (click)="convertFourth()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Fifth -->

<div
  class="modal fade"
  id="Fifth"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <!-- <div class="form-group col-md-6 d-none">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ Fifth }}"
                value="{{ Fifth }}"
                #val
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal mr-3"
          (click)="convertFifth()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal-Prev -->

<div
  class="modal fade"
  id="exampleModalPrev"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <!-- <div class="form-group col-md-6">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ First }}"
                value="{{ First }}"
                #val
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal"
          (click)="convertPrevFirst()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 2 -->

<div
  class="modal fade"
  id="exampleModalPrev2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <div class="form-group col-md-6 d-none">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ First }}"
                value="{{ First }}"
                #val
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal"
          (click)="convertPrevSecond()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 3 -->

<div
  class="modal fade"
  id="exampleModalPrev3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <div class="form-group col-md-6 d-none">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ First }}"
                value="{{ First }}"
                #val
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal"
          (click)="convertPrevThird()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 4 -->

<div
  class="modal fade"
  id="exampleModalPrev4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ First }}"
                value="{{ First }}"
                #val
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal"
          (click)="convertPrevFourth()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 5 -->

<div
  class="modal fade"
  id="exampleModalPrev5"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Convert Bags to Quintal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-2">
        <div class="conversion__body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bags">No of Bags</label>
              <input
                type="number"
                class="form-control"
                name="bags"
                [(ngModel)]="bags"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="bags">In Quintal</label>
              <input
                type="number"
                class="form-control"
                placeholder="{{ First }}"
                value="{{ First }}"
                #val
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal__btn-box">
        <button
          class="btn btn-primary btn__modal"
          (click)="convertPrevFifth()"
          data-dismiss="modal"
        >
          Convert
        </button>
      </div>
    </div>
  </div>
</div>
