<div class="container">
  <div class="main-area">
    <div class="approvals">
      <div class="card" style="width: 28rem">
        <div
          class="card-header bg-light"
          style="font-size: 1.8rem; font-weight: 500"
        >
          Approvals
        </div>
        <div class="card-body">
          <h5 class="card-text mb-3 mt-2">
            Approvals Pending: {{ pending?.length }}
          </h5>
          <h5 class="card-text mb-3">
            Approvals Approved: {{ approved?.length }}
          </h5>
          <h5 class="card-text">
            Approvals Rejected: {{ rejected?.length || 0 }}
          </h5>
        </div>
      </div>
    </div>
    <div class="vendors">
      <div class="card" style="width: 28rem">
        <div
          class="card-header bg-light"
          style="font-size: 1.8rem; font-weight: 500"
        >
          Vendors
        </div>
        <div class="card-body">
          <h5 class="card-text mb-3 mt-2">Vendors Registered: {{ vendors }}</h5>
          <h5 class="card-text mb-3">
            Vendors Orders: {{ orders?.length || 0 }}
          </h5>
          <h5 class="card-text">
            Vendors Transactions: {{ vendorTransactions?.length || 0 }}
          </h5>
        </div>
      </div>
    </div>
    <div class="farmers">
      <div class="card" style="width: 28rem">
        <div
          class="card-header bg-light"
          style="font-size: 1.8rem; font-weight: 500"
        >
          Farmers
        </div>
        <div class="card-body">
          <h5 class="card-text mb-3 mt-2">
            Farmers Enrolled: {{ farmers?.length || 0 }}
          </h5>
          <h5 class="card-text mb-3">
            Farmers Registered: {{ regFarmers?.length || 0 }}
          </h5>
          <h5 class="card-text">
            Farmers Transactions: {{ farmerTransactions?.length || 0 }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
