<div class="container">
  <div class="main">
    <div class="left">
      <button class="btn btn-success mr-4" (click)="onSubmit()">
        Add User
      </button>
      <button class="btn btn-success mr-4" (click)="redirectTo()">
        Add Farms
      </button>
      <button class="btn btn-success" (click)="navTo()">Add Crops</button>
    </div>
    <div class="right">
      <form
        class="form-inline my-2 my-lg-0"
        #f="ngForm"
        (ngSubmit)="search(f.value)"
      >
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search with Contact"
          aria-label="Search"
          name="contact"
          ngModel
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Contact</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>
          {{ user.contact }}
        </td>
        <td>
          <i
            class="fa fa-pencil-square-o icon"
            *ngIf="user.role === 'farmer'"
            (click)="onNavigate(user._id)"
            aria-hidden="true"
          >
          </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
