<div class="container">
  <div class="main">
    <div class="left">
      <button class="btn btn-success mr-4" (click)="onSubmit()">
        Add User
      </button>
      <!-- <button class="btn btn-success mr-4" (click)="redirectTo()">
        Add Farms
      </button>
      <button class="btn btn-success" (click)="navTo()">Add Crops</button> -->
    </div>
    <div class="right form-group">
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        [(ngModel)]="searchValue"
      />
    </div>
  </div>
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Contact</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | searchpipe: searchValue; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>
          {{ user.contact }}
        </td>
        <td>
          <button
            class="btn btn-success mr-4"
            *ngIf="user.role === 'farmer'"
            (click)="onNavigate(user._id)"
          >
            Update User
          </button>
          <button
            class="btn btn-success mr-4"
            *ngIf="user.role === 'farmer'"
            (click)="onNavigateToAddFarms(user._id)"
          >
            Add Farms
          </button>
          <button
            class="btn btn-success"
            *ngIf="user.role === 'farmer'"
            (click)="onNavigateToAddCrops(user._id)"
          >
            Add Crops
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
