<div class="buy" id="buy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="heading-main text-center title">Be a Part of FarmOR</h1>
      </div>
      <div class="col-md-6">
        <div class="buy__farmer">
          <div class="buy__farmer-data">
            <h2>For Farmers / FPO's</h2>
            <!-- <h2>
              Get Farm Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dicta, id?
            </h2> -->
            <button
              type="button"
              class="btn btn-success"
              [routerLink]="['/farmer']"
            >
              Click Here
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="buy__seller">
          <div class="buy__seller-data">
            <h2>For Businesses, Millers, Bulk Buyers</h2>
            <!-- <h2>
              Get Farm Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dicta, id?
            </h2> -->
            <button
              type="button"
              class="btn btn-success"
              [routerLink]="['/customer']"
            >
              Click Here
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
