#about{
    max-width: 100vw;
    height: 100vh;

    padding-top: 12vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  
}

#about .heading{
    display: flex;
    flex-direction: row;
    width:90vw;
    margin-bottom: 50px;
}

#about .heading div{
    width: 50%;
}

#about .heading div h1{
    color: #045383;
    margin-right: 10px;
}

#about .heading div p{
    color: #00395B;
    margin-left: 10px;
    line-height: 24px;
}

#about .sub-about{
    display: flex;
    flex-direction: row;

    width:90vw;
}

#about .sub-about .about-content{
    display: flex;
    flex-direction: row;

    border-left: 2px solid #809CAD;
    padding: 20px;

    
}



#about .sub-about .about-content p {
    font-size: 16px;
    color: #00395B;

    line-height: 24px;
}


#about .sub-about .about-content .numbers{

    margin-right:40px

}

#about .sub-about .about-content .numbers h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 58.8px;
    color: #0D8D76;
}

#about .sub-about .about-content .numbers p{
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}




