.blog {
  width: 100vw;
  height: 100vh;
  padding-top: 70px;

  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.cont {
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 15px;
}

.top p {
  color: #809cad;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
}

.top h2 {
  color: #045383;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  font-family: Libre Baskerville;
  padding-bottom: 10px;
}

.down {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.down > div {
  width: 30%;

  overflow: hidden;
}

.extra-margin {
  margin-left: 5%;
}

.down > .info {
  background-color: #ececec;
  height: 100%;
}

.info-extra {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.info-extra .num {
  background-color: #045383;

  width: 30px;
  height: 30px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-extra .num p {
  color: white;
}

.info-extra .line {
  height: 3px;
  width: 60%;
  background-color: #045383;
  margin-left: 10%;
}

.info {
  padding: 20px;

  position: relative;
}

.info h3 {
  padding-top: 10px;
  color: #045383;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  font-family: Libre Baskerville;
  padding-bottom: 10px;
}

.info p {
  color: #00395b;
  font-size: 16px;
  line-height: 24px;
}

.info a {
  position: absolute;
  bottom: 20px;


  color: #00395b;
  font-size: 14px;
}

.down .img{
    background-image: url(./blog1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 100%;
}

.down .extra-margin{
    background-image: url(./blog2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

