
.footer-head{
    background-color: #53635F;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}



.footer-head div h3 {
    font-family: Libre Baskerville;    
    font-weight: 700;
    font-style: 14px;
    margin-bottom: 15px;
}

.footer-head div ul {
    list-style-type: none;
}

.footer-head div ul li a, .footer-head div p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.46px;
}

.footer-head .extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.footer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}


.footer-info .info{

    width: 514px;
    height: 84px;

font-family: Helvetica Now Display;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;

text-align: center;

color: #045383;

}


.social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
}

.social div{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social div a{
    border: 1px solid gray;
    padding: 7px;
    border-radius: 9999px;
}

.social div a i{
    font-size: 18px;
}