#home {
  max-width: 100vw;
  height: 100vh;

  padding-top: 12vh;

  background: #000;

  background-image: url(./HomeBG.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content-home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 500px;

  margin-left: 10vw;
  margin-top: 8vh;

  background: rgba(255, 255, 255, 0.24);
  padding: 20px;

  border-radius: 10px;
}

.content-home h1 {
  color: #00395b;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.content-home p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #00395b;
  text-align: justify;
  margin-top: 16px;
}

.content-home a {
  background-color: #045383;
  color: white;
  font-weight: 500;
  font-size: 16px;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  border-radius: 5px;

  margin-top: 60px;
}
