.login-screen {
  display: none;

  position: fixed;

  width: 100vw;
  height: 100vh;

  top: 0;

  background: white;
  z-index: 10;
}

.main-cont {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 70vh;
}

.login-screen .cont .logo img {
  width: 200px;
  height: auto;
}

.login-screen .cont .mobile h3,
.login-screen .cont .enter-otp-cont h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  color: #045383;
}

.login-screen .cont .mobile input {
  width: 600px;
  height: 60px;
  color: #297620;
  font-size: 40px;
  border: 2px solid #045383;
  padding-left: 10px;
  padding-right: 10px;

  outline: none;
}

.login-screen .cont .enter-otp-cont .enter-otp .digit {
  outline: none;
  color: #297620;
  height: 60px;
  width: 150px;
  font-size: 50px;
  border: 2px solid #045383;
  text-align: center;
}

.mobile .otp-cont {
  display: flex;
  justify-content: end;
  margin-top: 8px;
}

.mobile .otp-cont .otp p {
  font-size: 18px;
  color: white;
}

.mobile .otp-cont .otp {
  background-color: #045383;
  width: 180px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  color: #3da491;
  font-size: 18px;
  line-height: 30px;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
.back i {
  font-size: 35px;
  color: rgb(77, 77, 77);
}
