.products {
  width: 100vw;
  height: 100vh;
  padding-top: 70px;

  padding-left: 10px;
  padding-right: 10px;


  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;


}

.products-cont {
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;

  width: 85vw;

 
}

.products-cont .top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



.products-cont .middle{
  
  display: flex;
  flex-direction: row;

  
}

.products-cont .middle div{
    width: 50%;
}

.products-cont .middle .left h3 {

    color: #045383;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    font-family: Libre Baskerville;
    padding-bottom: 10px;

}

.products-cont .middle .right{
    padding-left: 50px;
}

.products-cont .middle .right p{
   
    color: #00395B;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 24px;
}

.products-cont .bottom{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.products-cont .bottom div{
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100%/4.5);    
    background: #ECECEC;

    padding: 15px;
}

.products-cont .bottom div img{

 width: 80%;
 height: auto;

 -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.37));
 filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.37));

}


