#services {
    width: 100vw;
    min-height: 100vh;
  
    padding-top: 70px;
  
    display: flex;
    flex-direction: row;
  
    justify-content: center;
    align-items: center;

    padding-bottom: 40px;
  
  }
  
  
  #services > div {
      min-height: 70vh;
  }
  
  #services .photo {
  
      width: 30vw;
      background-image: url(./services1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  
  }
  
  #services .content-services{
      width: 90vh;
      padding-left: 8vw;

       display: flex;  
       flex-direction: column;

      justify-content: space-between;
  
  }

  #services .content-services p {
    color: #809cad;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 24px;
  }

  #services .content-services h2 {
    color: #045383;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    font-family: Libre Baskerville;
    padding-bottom: 10px;
  }

  #services .content-services .main {
    color: #00395b;
    font-size: 16px;
    line-height: 30px;
  }

  .sub-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  #services .content-services ul li {
    color: #0d8d76;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.58px;
  }

  .sub-main .first{

    display: flex;
    justify-content: space-between;
    flex-direction: column;


  }

    
  .sub-main div a {
    background: #045383;
    color: white;
  
    margin-top: 90px;
  
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .sub-main .services2 {
    background-image: url(./services2.jpg);
  
    width: 12vw;
    height: 11vw;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  