h4 {
  margin-top: 3rem;
  text-align: center;
  color: green;
  font-size: 3rem;
}

.table {
  font-size: 1.4rem;
  span {
    font-size: 1.6rem;
    font-weight: 500;
  }
  th {
    font-weight: 500;
    font-size: 1.6rem;
  }
}

.d-flex{
  justify-content: space-between;
}