<div class="layout">
  <div class="container d-flex pt-4">
    <div class="pull-left">
      <h3>
        Enrolled List
      </h3>
    </div>
    <div class="pull-right">
      <button class="btn btn-success" (click)="home()">Add</button>
    </div>
  </div>


  <div class="container">
    <table class="table table-bordered mt-4" *ngFor="let result of results">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Farmer Details</th>
          <th scope="col">Crop Details</th>
          <th scope="col">Previous Harvest Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><span>Name: </span> {{ result.name }}</td>
          <td><span>Crop: </span> {{ result.cropNameFirst }}</td>
          <td><span>Prev. Harvest Crop: </span> {{ result.prevCrop }}</td>
        </tr>
        <tr>
          <td scope="row"><span>Mobile: </span> {{ result.mobileNumber }}</td>
          <td><span>Variety: </span> {{ result.varietyFirst }}</td>
          <td><span>Prev. Harvest Variety: </span> {{ result.prevVariety }}</td>
        </tr>
        <tr>
          <td scope="row">
            <span>Road Access: </span> {{ result.access }} Kms
          </td>
          <td><span>Acres: </span> {{ result.acresFirst }}</td>
          <td><span>Prev. Harvest Type: </span> {{ result.prevAcre }}</td>
        </tr>
        <tr>
          <td scope="row"><span>Village: </span> {{ result.village }}</td>
          <td><span>Type: </span> {{ result.cropTypeFirst }}</td>
          <td><span>Prev. Harvest Acres: </span> {{ result.prevType }}</td>
        </tr>
        <tr>
          <td scope="row"><span>District: </span> {{ result.district }}</td>
          <td><span>Sown Week: </span> {{ result.sownWeekFirst }}</td>
          <td>
            <span>Prev. Harvest Selling: </span> {{ result.prevSellRate }}
          </td>
        </tr>
        <tr>
          <td scope="row"><span>State: </span> {{ result.state }}</td>
          <td><span>Sown Month: </span> {{ result.sownMonthFirst }}</td>
        </tr>
        <tr>
          <td scope="row">
            <span>Exp. Harvest Date: </span> {{ result.expHarvDate }}
          </td>
          <td><span>Crop Second: </span> {{ result.cropNameSecond }}</td>
        </tr>
        <tr>
          <td scope="row">
            <span>Exp. Harvest Month: </span> {{ result.expHarvMonth }}
          </td>
          <td><span>Variety Second: </span> {{ result.varietySecond }}</td>
        </tr>
        <tr>
          <td scope="row">
            <span>Exp. Harvest Year: </span> {{ result.expHarvYear }}
          </td>
          <td><span>Acres Second: </span> {{ result.acresSecond }}</td>
        </tr>
        <tr>
          <td scope="row">
            <span>Exp. Harvest Output: </span>
            {{ result.expHarvOutput }} /quintal
          </td>
          <td><span>Type Second: </span> {{ result.cropTypeSecond }}</td>
        </tr>
        <tr>
          <td>
            <span>Id: </span> Farmor_{{ result.district.slice(0, 3) }}__00{{
            results.length
            }}
          </td>
          <td><span>Sown Second: </span> {{ result.sownWeekSecond }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>