h4 {
  margin-top: 3rem;
  text-align: center;
  color: green;
  font-size: 3rem;
}

.home__btn {
  position: absolute;
  right: 7%;
  top: 6%;
  font-size: 1.6rem;
  padding: 0.3rem 0.8rem;
}

.table {
  font-size: 1.4rem;
  span {
    font-size: 1.6rem;
    font-weight: 500;
  }
  th {
    font-weight: 500;
    font-size: 1.6rem;
  }
}
