<div class="showcase" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="showcase__content">
          <div class="content">
            <h1>Farmer's Business Partner</h1>
            <p class="mt-4">
              FarmOR's <span>goal</span> is to make agriculture a profitable
              business for farmers by plugging the supply chain gaps and
              inefficiencies in the seed to market process by bringing
              knowledge, data & best practices to farmers in a phygital (both
              physical & digital) approach.
            </p>
            <div class="home__btns">
              <button class="btn btn-success mt-4" (click)="toSell()">
                Be a part of FarmOR
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="showcase__img">
          <img src="../../assets/images/main.png" alt="" class="home-img" />
        </div>
      </div>
    </div>
  </div>
</div>
