@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}


.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(270deg, #F73A3E 0%, #F13DD2 48.23%, #7000FF 100%);
  transform-origin: 0%;
}



.progress-bar-image {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  transform-origin: 0%;
  background-repeat: no-repeat;
  background-image: url('../public/home/logo_small.svg');
  background-size: contain;
}


.text{
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(270deg, #7000FF 0%, #F73A3E 33%, #F13DD2 66%, #7000FF 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
}
@keyframes animate {
  to{
    background-position: 400%;
  }
}

.careers{
  background-color: "#FDFBFF";
  background-image: url("../public/careers/grid.svg");
  background-repeat: no-repeat;
  background-size: cover;
  
}