@tailwind base;
@tailwind components;
@tailwind utilities;




.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(270deg, #F73A3E 0%, #F13DD2 48.23%, #7000FF 100%);
  transform-origin: 0%;
}



.progress-bar-image {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  transform-origin: 0%;
  background-repeat: no-repeat;
  background-image: url('../public/home/logo_small.svg');
  background-size: contain;
}