<div class="register">
  <div class="register__main">
    <h1 class="text-center">Complete your profile</h1>
    <h3 class="text-center">Please tell us a little about yourself</h3>
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" ngModel />
      </div>
      <div class="form-group">
        <label>Village</label>
        <input type="text" class="form-control" name="village" ngModel />
      </div>
      <button class="btn btn-success btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>
